.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/artifacts
**/TestResults
**/coverage*
**/*.user
**/*.rsuser
**/*.suo
**/*.tmp

.env
.env.*

documentation
sdk
tests

storage
temp
uploads
src/StreamForge.Api/uploads
